body{
	/* font-family: "微软雅黑"; */
}


/**
 * head
 */
.header {
	background: rgba(0,0,0,0.75);
}
.hdleft p{	
	margin-left: 60px;	/*针对不同项目的LOGO宽度优化头部标题与LOGO的间距*/
}

.loadingDiv{
	position: fixed;
	background: rgba(0, 0, 0, 0.85);
	margin: 0 auto;

}

#audio{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -150px;
	height: 0;
}

/**
 * detail
 */

#detail .main .left {
	opacity: 0.8;
	background: #000000;
}


/**
 * welcome
 */
#welcome{
	background: url(../images/0086000017/bg.png) no-repeat;
}
#welcome .main {
	background: rgba(0,0,0,0.8);
}

#welcome .main a {
	border: 1px solid #FFFFFF;
}
#welcome .main a:focus{
	background: #F1F1F1;
	color: #000000;
	outline: none;
}
#welcome #tishi {
	background: rgba(0,0,0,0.8);
}
#welcome .temp .left{
	background: transparent;
}
#welcome .content{
	background: transparent;
}


/**
 * worldtime
 */
#worldtime{
	background: url(../images/worldbg.jpg);
	
}

#worldtime .content {
	background: rgba(0,0,0,0.8);
	
}

#worldtime .content .item {

	background: border-box rgba(0, 0, 0, 0.5);

}
#worldtime .right .item.cur {
	background: content-box rgba(165,117,0,0.5);
}
/**
 * weather
 */

#weather{
	background: url(../images/wbg2.png);
}
#weather .content {
	background: rgba(0,0,0,0.8);
	
}


	
/**
 * index
 */

#index{
	background: url(../images/0086000017/bg.png) center center  no-repeat;
}

#index .bot_main{
	background:rgba(001, 001, 001,0.76);
}

#index .bot_main .bgbox.cur{
	background: rgba(01,01,01,1);
}

#index .top_main ul li{
	background:rgba(001, 001, 001,0.76);
	/* border-bottom: 1px dotted #A77500; */
	
}
#index .container .main{
	background: transparent;
}

#index .top_main ul li a:hover{
	/* background: rgba(0,0,0,1); */
	background:rgba(255,255,255,.5);
	color: #FFFFFF;
}
#index .top_main ul li a:focus{
	background:rgba(255,255,255,.5);
	color: #FFFFFF;
}

/**
 * vodlist
 */

#vodlist #content .box.vod ul{
	background: rgba(0,0,0,0.8);
}

#vodlist .main .left li.cur{
	background: #AD8017;	
}
#vodlist .main .left li.on{
	background: #AD8017;	
}


#vodlist #content .box.vod ul li span{

	background:rgba(0,0,0,0.6);
}
#vodlist .main .left{
	background: rgba(0,0,0,0.8);
}

/**
 * vodinfo
 */
#vodinfo #main{
	background: transparent;
}
#vodinfo .content {
	background: rgba(0,0,0, 0.8);
}