
/**
 * head
 */
.header {
	background: rgba(001, 039, 075, 0.78);
}
.hdleft p{	
	margin-left: 110px;	/*针对不同项目的LOGO宽度优化头部标题与LOGO的间距*/
}


.loadingDiv{

	background: rgba(1, 39, 75, 0.85);

}

/**
 * detail
 */

#detail .main .left {
	background: rgba(1, 39, 75, 1);
}


/**
 * welcome
 */

#welcome .main {
	background: rgba(1, 39, 75, 0.85);
}

#welcome #tishi {
	background: rgba(1, 39, 75, 0.85);
}
#welcome .temp .left{
	background: transparent;
}
#welcome .content{
	background: transparent;
}


/**
 * worldtime
 */


#worldtime .content {
	background: rgba(1, 39, 75, 0.75);
}

#worldtime .content .item {
	background: rgba(1, 39, 75, 0.85);
}
#worldtime .right .item.cur {
	background: content-box #a57500;
	opacity: 1;
}
/**
 * weather
 */


#weather .content {
	background: rgba(1, 39, 75, 0.75);
}


	
/**
 * index
 */



#index .bot_main{
	background: rgba(001,039,075,0.78);	
}

#index .bot_main .bgbox.cur{
	/* background: rgba(01,01,01,1); */
	background: rgba(1,39,75,1);
}

#index .top_main ul li{
	width: 176px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	opacity: 0.76;
	/* background: #010101; */
	background: rgba(001,039,075,0.88);
	/* border-bottom: 1px dotted #A77500;*/
	border-bottom: 1px dotted rgba(001,039,075,0.28);
}
#index .container .main{
	background: transparent;
}

/* #index .top_main ul li a:hover{
	background: rgba(0,0,0,1);
	color: #FFFFFF;
}
#index .top_main ul li a:focus{
	background: rgba(0,0,0,1);
	color: #FFFFFF;
} */

/**
 * vodlist
 */

#vodlist #content .box.vod ul{
	background: rgba(001,039,075,0.75);
}


#vodlist .main .left li.cur{

	background:rgba(173,128,23,1);

}
#vodlist .main .left li.on{

	background:rgba(173,128,23,0.5);

}

#vodlist #content .box.vod ul li span{

	background:rgba(001,039,075,0.6);

}
#vodlist .main .left{
	background: rgba(001,039,075,1);
}

/**
 * vodinfo
 */
#vodinfo #main{
	background: transparent;
}
#vodinfo .content {
	background: rgba(1, 39, 75, 0.75);
}