body {
	/* background: url(../images/vodbg.png) no-repeat center center; */
	/* background-size: cover; */
	background: transparent;
}

/**info**/


#main {
	position: relative;
	margin: 0 auto;
	top: 125px;
	width: 1177px;
	height: 510px;
	
	
}

.content {
	position: relative;
	width: 100%;
	height: 510px;

	overflow: hidden;
	cursor: hand;
	margin: 15px auto 0;
}


/*
 *影片小窗口视频+封面
 */

.content .videoWindow {
	position: relative;
	width: 450px;
	height: 254px;
	float: left;
	margin-top: 21px;
	margin-left: 60px;
	border: 1px solid #565656;
}

.content .videoWindow img {
	height: 100%;
	width: 100%;
	display: block;
	border: 0;
}


/*
 *影片参数信息
 */

.content .textcontent {
	position: relative;
	float: right;
	margin-right: 10px;
	width: 640px;
	height: 254px;
	margin-top: 21px;
	/*background: red;*/
}

.content .textcontent dl {
	display: block;
	height: 18px;
	margin-bottom: 10px;
}

.content .textcontent dl.name {
	height: 28px;
}

.content .textcontent dl.price {
	width: 147px;
	height: 99px;
	position: absolute;
	display: block;
	right: 30px;
	top: 0;
}

.content .textcontent dl.price dt {
	font-size: 52px;
	font-family: STHeitiTC-Light;
	color: rgba(255, 255, 255, 1);
	line-height: 54px;
	text-align: right;
	display: none;
}

.content .textcontent dl.price dd {
	margin-top: 14px;
	height: 20px;
	font-size: 20px;
	font-family: STHeitiTC-Light;
	color:#f1f1f1;
	line-height: 20px;
	text-align: right;
	
}
.content .textcontent dl.price dt span{

margin-right: 10px;
/*font-size: 24px;*/
}
.content .textcontent dl.price dd:nth-child(2){
	color:rgba(194,162,62,1);

	width:28px;
	height:28px; 
	font-size: 28px;
	line-height: 29px;
	margin-right: 10px;

/*font-size: 24px;*/
}
.content .textcontent dl.price dd:nth-child(3){
	height: 28px;
	font-size: 28px;
	font-family: STHeitiTC;
	color: rgba(255, 255, 255, 1);
	line-height: 29px;
	text-align: right;
}

.content .textcontent dl dt,
.content .textcontent dl dd {
	display: inline-block;
	font-size: 18px;
	font-family: STHeitiTC-Light;
	color: rgba(217, 217, 217, 1);
	line-height: 18px;
}

.content .textcontent dl.name dt,
.content .textcontent dl.name dd {
	display: inline-block;
	font-size: 28px;
	font-family: STHeitiTC-Light;
	color: rgba(255, 255, 255, 1);
	line-height: 28px;
}


/*
 *影片描述部分
 */

.clearboth {
	clear: both;
}

.content .movieInfo {
	position: relative;
	height: 132px;
	margin-top: 10px;
	padding-left: 60px;
	padding-right: 30px;
}

.content .movieInfo h3 {
	font-family: STHeitiTC-Light;
	font-size: 24px;
	line-height: 25px;
	color: #F1F1F1;
}

.content .movieInfo .desc {
	font-family: STHeitiTC-Light;
	font-size: 18px;
	color: #D9D9D9;
	margin-top: 10px;
	font-size: 18px;
	color: rgba(217, 217, 217, 1);
	line-height: 24px;
	height:100px;
	width: 1080px;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	
}




.content .button_groups {
	position: absolute;
	margin-left: 570px;
	bottom: 17px;
	display: inline-block;
}

.content .button_groups button {
	display: inline-block;
	width: 220px;
	height: 62px;
	/*background: #54D1FF;
	opacity: 0.3;*/
	border-radius: 5px;
	font-size: 24px;
	font-family: STHeitiTC-Light;
	color: #F1F1F1;
	line-height: 25px;
	font-weight: 700;
	margin-left: 20px;
	border: 4px solid transparent;
	background: rgba(194,162,62,0.3);
	outline:none;
}

.content .button_groups button.cur {

	border: 4px solid rgba(194,162,62,1);;
}

.content .button_groups button a {
	color: #F1F1F1;
}
:focus{
	outline: none;
}
/* 
#star-five{
	width: 0;
	height: 0;
	color: rgba(194,162,62,1);
	margin: 50px 0;
	position: relative;
	display: block;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 70px solid rgba(194,162,62,1);
	-moz-transfrom:rotate(35deg);
	-webkit-transform:rotate(35deg);
	-ms-transform:rotate(35deg);
	-o-transform:rotate(35deg);
	}
	
	
	#star-five:before{
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 80px solid rgba(194,162,62,1);
	position: absolute;
	top: -45px;
	left: -65px;
	color: white;
	display: block;
	content: "";
	-moz-transform:rotate(-35deg);
	-webkit-transform:rotate(-35deg);
	-ms-transform:rotate(-35deg);
	-o-transform:rotate(-35deg); 
	}
	#star-five:after{
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	color: rgba(194,162,62,1);
	top: 3px;
	left: -105px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 70px solid rgba(194,162,62,1);
	content: "";
	-moz-transform:rotate(-70deg);
	-webkit-transform:rotate(-70deg);
	-ms-transform:rotate(-70deg);
	-o-transform:rotate(-70deg);
	} */