/*清除默认样式*/
@viewport {
	width: device-width;
}
	
*{
	margin: 0;
	padding: 0;
}
body{
	color: #ffffff;
	overflow: hidden;
	
	/* font-family: "宋体","times new roman"; */
}

.container{
	width: 1280px;
	height: 720px;
	margin: 0 auto;
	background: transparent;
	color: #ffffff;
}
a{
	text-decoration: none;
	outline: none;
}
li{
	list-style: none;
}

/*-------------头部导航条部分start----------*/
.header{
	position: absolute;
	top: 0px;
	width: 1280px;
	height: 128px;
	/* background: rgba(0,0,0,0.75); */
	
	/* background: rgba(001, 039, 075, 0.78); */
	
	margin: 0 auto;
}
.header .small{
	font-size: 28px;
	color: #AD8017;
	letter-spacing: 0.99px;
}

.header .lt{
	position: absolute;
	left: 32px;
	top: 5px;
	width: auto;
	height: 114px;
}
.hdleft p{	
	margin-left: 60px;
	position: absolute;
	bottom: 32px;
	font-size: 42px;
	color: #AD8017;
	letter-spacing: 1.48px;
	padding-top: 26px;
	margin-bottom: -10px;
	height: 86px;
	
}
.hdleft p span.small{
	font-size: 24px;
	position: absolute;
	top: 65px;
	width: 600px;
}
.hdleft p span{
	margin-left: 120px;
	font-size: 38px;
	color: #AD8017;
	letter-spacing: 1.48px;
	margin-top: 10px;
}
/*头部右边*/
.header .hdright{
	height: 100%;
	position: absolute;
	right: 32px;
	/* background: #ececec */
}
.header .hdright p{
	display: inline-block;
	/* background: #AD8017 */
}
.header .weather{
	width: 108px;
	height: 84px;
	display: block;
}	

.header .weather img{
/* 	width: 64px;
	height: 64px;
	margin-right: 18px; */
	/* background: #AD8017 */
	height: 42px;
	margin-bottom: 18px;
	
}
.header .weather span{
	display: block;
	margin-top: -10px;
	font-size: 24px;
	vertical-align: top;
	/* background: #AD8017 */
	
}
.header .line{
	width: 2px;
	height: 60px;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 32px;
}
.header .hdright div .time{
	margin-bottom: 4px;
	font-size: 24px;
}
.header .hdright div .data{
	font-size: 14px;
}
.apple{
	position: absolute;
	left: 200px;
	top: 10px;
	width: 600px;
	height: 50px;
	overflow:hidden; 
	margin-top: 30px;
	/* background: #AD8017 */
}
.apple li{ display:block;width:100%; height:50px; line-height:50px; color:#f1f1f1;}
/*.aa {word-wrap:break-word;line-height:50px;  color:#1B96EE;}*/

/*-------------头部导航条部分end----------*/

/*详情页面左边的字体的颜色控制*/
.main .left p{
	/* color: #ececec !important; */
}

.bottom{
	position: absolute;
	top: 670px;
	left:50%;
	height: 30px;
	width: 531px;
	margin-left: -265.5px;
	/* background: #009F6C; */
	display: none;
}

/**
 * 页面过加载loading和错误提示层
 */
.errorDiv{
	position: absolute;
	top:0;
	left: 0;
	width: 1280px;
	height: 720px;
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	display: none;
	z-index: 100;
}
/**
 *  错误提示
 */
.errorDiv .errorInfo{
	position: absolute;
	width:720px;
	height: 360px;
	background: rgba(100,100,100,.9);
	color: #F1F1F1;
	top:50%;
	margin-top: -180px;	
	left: 50%;
	margin-left: -360px;
	line-height: 30px;
	padding: 20px;
		
	
}
.errorDiv .errorInfo .errorTitle{
	display: block;
	font-size: 33px;
	text-align: center;
	margin-bottom: 20px;
}
.errorDiv .errorInfo .errorText{
	display: block;
	font-size: 24px;
	text-align: left
}

/**
 * 载入动画
 */

.loadingDiv{
	position: absolute;
	top:0;
	left: 0;
	width: 1280px;
	height: 720px;
	/* background: rgba(0, 0, 0, 0.85); */
	
	background: transparent;
	color: #ffffff;
	display: block;
	z-index: 300;
}

.loadingDiv .loading{
	position: absolute;
	width: 100px;
	height: 100px;

	background:transparent;
	color: #F1F1F1;
	top:50%;
	margin-top: -50px;	
	left: 50%;
	margin-left: -50px;

	display: block;
	font-size: 40px;
	text-align: center;
	line-height: 100px;
	

}
.loadingDiv .loading img{
	width: 100%;
	height: 100%;
}