@keyframes gogogo {
    0%{
    	transform: translateX(0); 
    	-webkit-transform: translateX(0);  
    }
	20%{
		transform: translateX(-40px);
		-webkit-transform: translateX(-40px);   
	}
    40%{
    	transform: translateX(-80px);
    	-webkit-transform: translateX(-80px);   
    }
	60%{
		transform: translateX(-120px);
		-webkit-transform: translateX(-120px);   
	}
	80%{
		transform: translateX(-160px);
		-webkit-transform: translateX(-160px);   
	}
    100%{
    	transform: translateX(-200px);
    	-webkit-transform: translateX(-200px);
    }
}
@-webkit-keyframes gogogo {
   0%{
   	transform: translateX(0); 
   	-webkit-transform: translateX(0);  
   }
   20%{
   	transform: translateX(-40px);
   	-webkit-transform: translateX(-40px);   
   }
   40%{
   	transform: translateX(-80px);
   	-webkit-transform: translateX(-80px);   
   }
   60%{
   	transform: translateX(-120px);
   	-webkit-transform: translateX(-120px);   
   }
   80%{
   	transform: translateX(-160px);
   	-webkit-transform: translateX(-160px);   
   }
   100%{
   	transform: translateX(-200px);
   	-webkit-transform: translateX(-200px);
   }
}

body{
	/* background: url(../images/vodbg.png) no-repeat top center; */
	font-family: "宋体","times new roman";
}
.main{	
	width: 1177px;
	height: 477px;
	/* margin: 143px auto 0 ; */
	margin-top: 143px;
}
.main .left{
	float: left;
	width: 246px;
	height: 477px;
	
	overflow-x: hidden;
	overflow-y:auto;
	margin-left: 52px;
}
.main .left li{
	width: 96px;
	height: 33px;
	line-height: 33px;
	font-size: 24px;
	color: #FFFFFF;
	/* letter-spacing: 0.85px; */
	padding:  14px 96px 7px 53px;
	/* padding-top: 14px; */
	/* padding-bottom: 7px; */
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif	;
	font-weight: 500;
	/* background: rebeccapurple */
	white-space: nowrap;

}
.main .left li a{
	color: #FFFFFF;
	display: block;
	width: 100%;
	height: 100%;

}

.main .left li.cur{

	background:rgba(173,128,23,1);

}

.main .left li.on{

	background:rgba(173,128,23,0.5);

}
.main .box{
	float: right;
	width: 872px;
	height: 477px;
	display: none;
	/* overflow:hidden; */


}





.box ul{
	width: 919px;
	height: 435px;
	
	overflow-y:auto;
	overflow-x: hidden;
	padding-top: 42px;
	
}

.box ul li{
	display: block;
	width:180px;
	height:240px;
	border:4px solid transparent;
	float: left;
	margin-left: 30px;
	overflow: hidden;
	margin-bottom: 31px;

}

.main .box li a{
	color: #FFFFFF;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center
	/* width: 172px;
	height:232px;
	border:4px solid transparent; */
}

.marquee{
	animation:gogogo 7s infinite linear;
	-webkit-animation:gogogo 7s infinite linear;
}

.box ul li img{
	width: 100%;
	height: 100%;
	display: block;
}

.box ul li span{
	position: relative;
	
	height: 47px;
	width: 100%;;
	display: block;
	
	font-size:20px;
	font-family:STHeitiTC-Medium;
	color:rgba(238,238,238,1);
	line-height: 47px;
	padding: 5px;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	margin-top: -52px;
}

.main .box.cur{
	display: block;

}



.box.cur ul li.cur{
	border:4px solid rgba(194,162,62,1);

}
.box.cur ul li.on{
	border:4px solid rgba(194,162,62,1);

}