body{
	color: #ffffff;	
	background: transparent;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.main{
	width:70%;
	height:70%;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -35%;
	margin-top: -22.5%;
	opacity: 0.8;
	/* background: #000000;
	 */
/* 	background: 01274b;
	opacity: 0.48; */
	background: rgba(1,39,75,0.85);
	border-radius: 10px;	
}
.weather{
	padding-top: 10px;
	height: 58px;
	text-align: right;
	padding-right: 50px;
	position: relative;
}
.weather img{
	float: right;
	width:46px;
	height: 46px;
	margin-top: 8px;
}
.weather span{
	float: right;
	display: inline-block;
	font-size: 20px;
	height: 58px;
	line-height: 58px;
	margin-bottom: 10px;
	margin-left: 10px;	
}
.temp{
	/*height: 50%;*/
	width: 100%;
	height: auto;
	/*background: #002A80;*/
}
.temp .left{
	float: left;
	width: 230px;
	height: 100%;
	text-align: center;
	margin-left: 5%;
	display: inline-block;
}
.temp .left img{
	width: 70%;
	margin-bottom: 7%;
	margin-top: 1.38%;
}
.temp .left .time{
	
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 1.98px;
	margin-top: 7%;
	margin-bottom: 1.38%;
}
.temp .left .data{	
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.77px;
}
.temp .right{
	float: left;
	width:51.8%;
	height: 100%;
	margin-top: 0px;
	display: inline-block;
	margin-left: 40px;
	/*margin-right: 40px;*/
/*background: grey;*/
}
.temp .right h3{	
	font-size: 26px;
	color: #FFFFFF;
	letter-spacing: 1.1px;
	font-weight: normal;
	margin-bottom: 10px;
	display: inline-block;
}
.temp .right .gust_name{
	font-family: "宋体","times new roman";
	font-size:18px;
	color: #FFFFFF;
	letter-spacing: 1.1px;
	font-weight: normal;
	margin-bottom: 10px;
}
.temp .right .content{
	opacity: 0.7;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.88px;
	line-height: 19px;
	/*background: blueviolet;*/
	width: 100%;
	
}
.temp .right .content .boss{
	position: absolute;
/* 	text-align: right;
	opacity: 0.7;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 1.1px;
	margin-right: 8.6%; */
	height: 60px;
	top:350px;
	left:700px;
}
.temp .right .content .boss img{
	height: 100%;
	width: auto;
}
.btn{
	position: absolute;
	bottom: 5px;
	height: 68px;
	width: 100%;
	padding-left: 40px;
	line-height: 68px;
	/*background: #DD514C;*/
}
.main a{
	display: inline-block;
	float: left;
	width: 12%;
	height: 35px;
	line-height: 36px;
	text-align: center;
	background: transparent;
	border-radius: 4px;
	color: #ffffff;
	border: 1px solid #AD8017;
	font-size: 12px;
	
}

.main a:focus{
	background: #AD8017;
	outline: none;
}

.main .en{
	border: 1px solid peru;
	margin-right: 20.25px;
}
.sign{
	width: 240px;
	height: 120px;
	position: fixed;
	top: 455px;
	left: 740px;
}
#tishi{
	width: 300px;
	height: 38px;
	line-height: 38px;
	font-size: 15px;
	/* background: #000000;
	opacity: 0.8; */
background: rgba(1,39,75,0.85);
	top:90%;
	left:50%;
	margin-left: -150px;
	
	
	text-align: center;
	border-radius: 10px;	
	vertical-align: middle;
	position: absolute;
}
#tishi img{
	width: 34px;
	height: 34px;
}
#tishi span{
	display: inline-block;
	position: relative;
	top: -10px;
}
