body{
	font-family:"STHeitiTC-Medium";
}
/**
 * head头部
 */
.header {
	background: rgba(220,209,193,0.7);
}

/* 头部左边文字框 */
.hdleft p{	
	margin-left: 120px;	/*针对不同项目的LOGO宽度优化头部标题与LOGO的间距*/
	
}
.hdright p{
	letter-spacing:1px;
/* 	-webkit-background-clip:text;
	-webkit-text-fill-color:rgba(43,43,43,1); */
}
.container{
	color:rgba(43,43,43,1);
	
}
/* 头部左边文字 */
.hdleft p span{
height:42px;
font-size:42px;
font-family:"STHeitiTC-Medium";
font-weight:500;
color:rgba(103,103,103,1);
line-height:43px;
letter-spacing:1px;

}
/*头部左边大分类标题*/
/* .hdleft p span#mainName{
	display: block;
	margin-top: 20px;
} */



/*头部左边小分类标题*/
#subName{
	/* display: none;*/
	color:rgba(103,103,103,1);
}
.loadingDiv{

	background: rgba(220,209,193,0.85);

}


/**
 * detail
 */
#detail{
	background: url(../images/0086000015/bg.png) no-repeat;
}
#detail .main .left {
	/* opacity: 0.8; */
	background: rgba(220,209,193,0.8);
}
#detail .main .left li{
	color:rgba(43,43,43,1);
}
#detail .main .left li.cur{
	background:rgba(209,82,83,1);
	color:rgba(255,255,255,1);
}

#detail .main .box .righttextdiv{
	font-family:"AppleSystemUIFont";
	color:rgba(50,50,50,1);
	letter-spacing: normal;
	font-size:18px;
}

/**
 * welcome
 */
#welcome{

font-family:STHeitiTC-Medium;

color:rgba(0,0,0,1);

}
#welcome .main {
	background:rgba(220,209,193,0.8);
	
}
#welcome .main a{
	border:1px solid rgba(202,9,21,1);
}

#welcome .main a:focus{
	background:rgba(202,9,21,1);
}

#welcome #tishi {
	background:rgba(220,209,193,0.8);
}
#welcome .temp .left{
	background: transparent;
}

#welcome .temp .right .content{
	background: transparent;
	font-weight:500;
	line-height:32px;
	font-size:16px;
}

#welcome .temp .right h3,
#welcome .temp .right .content,
#welcome .temp .left .time,
#welcome .temp .left .data 
{
	color:rgba(0,0,0,1);
}

/**
 * worldtime
 */
#worldtime{
	background:url(../images/0086000015/bg.png)	no-repeat;
	
}

#worldtime .content {
	background:rgba(220,209,193,0.7);
	
}

#worldtime .content .item {

	background: border-box rgba(220,209,193, 0.5);

}
#worldtime .right .item li{
	color: rgba(37,37,37,1);
}
#worldtime .right .item.cur li{
	color:rgba(255,255,255,1);
}
#worldtime .right .item.cur {
	background:rgba(209,82,83,1);
	
}
#worldtime .content .left .zone{
	color: rgba(37,37,37,1);
}

/**
 * weather
 */

#weather{
	background:url(../images/0086000015/bg.png)	no-repeat;
}
#weather .content {
	background:rgba(220,209,193,0.7);
	
}
#weather .top .desc p{
	color: rgba(37,37,37,1);
}
#weather .weatherlist ul li{
	color: rgba(37,37,37,1);
}
#weather #weekweather li.cur{
	
	/* background: border-box rgba(209,82,83,1); */
	background: transparent;
	
}

	
/**
 * index
 */

#index .bot_main{
	/* background:rgba(220,209,193,0.76); */
	background:rgba(220,209,193,0.76379999999999991);

}

#index .bot_main .bgbox.cur{
	background:rgba(220,209,193,1);
}
.bgbox.cur div p {
	color:rgba(43,43,43,1);
	font-size:20px;
font-family:STHeitiTC-Medium;
font-weight:500;
}

#index .top_main ul li{
	background:rgba(220,209,193,0.76);
	border-bottom: 1px dotted #A77500;
}
#index .top_main ul li a{
	width:100%;
	overflow: hidden;
	height:100%;
	font-size:20px;
	font-family:STHeitiTC-Medium;
	font-weight:500;
	color:rgba(43,43,43,1);

	letter-spacing:1px;
	display: block;
}
#index .container .main{
	background: transparent;
}

#index .top_main ul li a:hover{
	background:rgba(202,9,21,0.6);
	width: 100%;
	height: 100%;
	display: block;
	color: #FFFFFF;
}
#index .top_main ul li a:focus{
	background:rgba(202,9,21,0.6);
	color: #FFFFFF;
}

/**
 * vodlist
 */

#vodlist #content .box.vod ul{
	background:rgba(220,209,193,0.8);
}

#vodlist .main .left li.cur{
	background:rgba(202,9,21,1);
}
#vodlist .main .left li.on{
	background:rgba(202,9,21,0.5);	
}


#vodlist #content .box.vod ul li span{

	background:rgba(220,209,193,0.6);
}

#vodlist .box.cur ul li.cur{
	border: 4px solid rgba(202,9,21,0.8);
}
#vodlist .main .left{
	background:rgba(220,209,193,0.8);
}

/**
 * vodinfo
 */
#vodinfo #main{
	background: transparent;
}
#vodinfo .content {
	background:rgba(220,209,193,0.8);
}